/*******************************/
/*             RESET           */
/*******************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/*******************************/
/*            OTHER            */
/*******************************/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
    background-image: url("../img/background-photo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    background-color:#464646;
    
}

.content{
    width: 1200px;
    margin: auto;
}

 .hide{
     display: none;
 }

/*******************************/
/*             BTN             */
/*******************************/
.btn{
    padding: 10px 40px 10px 40px;
    background-color: #2cc76a;
    border-radius: 2px;
    color: #ffffff;
}

.btn-res{
    padding: 10px 40px 10px 40px;
    background-color: #2cc76a;
    border-radius: 2px;
    color: #ffffff;
    margin-left: 40px;
}

.btn-info{
    background-color: #2db6d8;
}

/*******************************/
/*             :Hover          */
/*******************************/
.btn:hover,
.btn-res:hover{
    background-color: rgba(0, 0, 0, 0);
    border:1px solid white;
    padding: 9px 39px 9px 39px;
}
/*******************************/
/*             NAV             */
/*******************************/
nav{
    margin-top: 20px;
    height: 45px;
}

nav .icon_toggle{
    display: none
}

nav .logo{
    width: 200px;
    height: 45px;
}

nav ul{
    float: right;
    line-height: 56px;
    color: #ffffff;
}

nav ul li{
    margin-right: 15px;
    display: inline;  
}

nav ul li a{
    color: #ffffff;    
}

/*******************************/
/*            SLIDER           */
/*******************************/
.slider .text-grap{
    color: #ffffff;
    margin-top: 305px;
    text-align: center;
}

.slider .text-grap .title{
    font: 700 40px Arial;
}

.slider .text-grap p{
    font: 18px Arial;
    width: 700px;
    margin: auto;
    margin-top: 10px;
}

.slider .btn-grap{
    width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-left: 390px;
}

/*******************************/
/*            RESPONSIVE       */
/*******************************/

/*
* tablette screen
*/

@media only screen and (max-width: 1250px){
    body {
        background-image: url(../img/background-photo-mobile-devices.jpg);
    }
    
    .content{
        width: 1000px;
    }
    
    .slider .btn-grap{
        margin-left: 290px;
    }
}


/* 
* mobil screen
*/

@media only screen and (max-width: 1000px){

/*
* content
*/
    body {
        background-image: url(../img/background-photo-mobile-devices.jpg);
    }
    
    .content{
        width: 500px;
    }
    
/*
* navigation
*/
    nav .logo{
        margin-left: 255px;
    }
           
    nav ul{
        float: none;
        line-height: 40px;
        margin-top: 20px;
    }
    
    nav ul li{
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white; 
    }
    
    /*add res btn hide*/
    nav .icon_toggle{
        position: relative;
        display: block;
        float: left;
        width: 45px;
        height: 50px;
        
        cursor: pointer; 
    }
    
    nav .icon_toggle:after{
        content:'';
        position: absolute;
        display: block;
        width: 16px;
        height: 0;
        top:7px;
        left: 14px;
        
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff
    }

/*
* slider
*/
    .text-grap-top{
         margin-top: 40px !important;
    }
    
    
    .slider .text-grap{
        margin-top: 340px;
    }
    
    .slider .text-grap p{
        width: 100%;
        margin-top: 10px;
    }
    
    .btn-res{
        background-color: rgba(0, 0, 0, 0);
        color: #2cc76a;
        border-radius: 0;
        margin-left: 0;
    }
    
    .slider .btn-grap{
        width: 100%;
        margin-top: 40px;
        margin-left: 40px;
    }
    
/*
* res hover
*/
    a:hover{
        font-size: 15px;
    }
    
    .btn-res:hover{
        border:none;
    }
}