<link rel="stylesheet" type="text/css" media="screen" href="app/res_nav_btn.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>

<div data-plugins="btn-nav-res" data-theme="arrow"></div>

<script type="text/javascript" src="app/res_nav_btn.js" ></script>