/*******************************/
/*             IMPORT          */
/*******************************/
@import url(http://fonts.googleapis.com/css?family=Oswald);


/*******************************/
/*             RESET           */
/*******************************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    
    font-family: 'Oswald', sans-serif;
}

body{background-color: #ff6664;}

/*******************************/
/*             OTHER           */
/*******************************/

.content{
    width: 1100px;
    height: 100%;
    margin: auto;  
}

/*******************************/
/*             :Hover          */
/*******************************/

.top-nav ul a:hover{color:#ff6664;}

.slider .btn:hover {
    background: #ff6664;
    text-decoration: none;
}


/*******************************/
/*             NAV             */
/*******************************/

.top-nav{
    width: 100%;
    height: 66px;
    background-color: #dbe0e3;
}

.top-nav .title{
    color: #bbb8b1;
    font: italic 15px;
    line-height: 66px;
}

.top-nav .navigation{
    margin-right: 15px;
    float: left;
}

.top-nav li{
    display: inline;
    line-height: 66px;
    margin-right: 10px;
}

.top-nav li a{
    color: #00cce9;
    font: 1 11px;
    font-weight: bold;
}

.top-nav .right{
    float: right;
}

.top-nav .logo{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

/*******************************/
/*             SLIDER          */
/*******************************/

.slider{
    background-color: #072c3e;
    height: 450px;
    box-shadow:0 4px 4px -4px #000;
}

.slider .text-grip{
    padding-top: 100px;
    width: 450px;
}

.slider .title-grip{
    color: #ffffff;
    font:28px;
    font-size: 50px;
    font-weight: bold;
}

.slider p{
    color: #c0c0c0;
    margin-top: 25px;
    font-size: 25px;
}

.slider .iphone{
    float: right;
    margin-top: -222px;
    width: 350px;
    height: 400px;
    padding-bottom: 55px;
}

/*******************************/
/*          FOOTER             */
/*******************************/
footer .content-widget{
    padding-top: 50px;
}

footer .widget{
    width: 270px;
    height: 100%;
    float: left;
}

footer .widget img{
    margin-left:92px; 
}

footer .widget .title{
    color: #fbffff;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}

footer .widget p{
    color: #fbffff;
    text-align: center;
    padding: 10px;
}

/*******************************/
/*          BTN                */
/*******************************/
.btn {
    background: #00cce9;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    margin-top: 50px;
}

/*******************************/
/*          @media             */
/*******************************/
@media screen and (max-width: 1100px) {
    
    /*hide*/
    .top-nav .title, .slider .iphone
    {
        display: none
    }
    
    /*content  - 1100px */
    .content, footer .widget {
        width: 400px;
        height: 100%;
        margin: auto;
    }
    
    /*style*/
    .slider .text-grip{
        width: 100%;
        text-align: center;
    }
    
    .btn{
        margin-left: 120px
    }
    
    footer .widget{
        margin-bottom:20px; 
    }
    
    footer .widget img{
        margin-left:36%; 
    }
    
    .top-nav .navigation{
        margin-right: 197px;
    }   
}