/*------------------------------------*\
    $BODY ("remove")
/*------------------------------------*/

body{background-color: black}

/*------------------------------------*\
    $nav-icon
\*------------------------------------*/
/**
 * nav-icon
 * description      responsive menu button
 */

.nav-icon{
    /* position marker here*/
    position: relative; 
    width: 54px;
    height: 54px;
    /*end*/

    transition: transform 0.5s;
    cursor: Pointer;
}

.nav-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    display: block;
    width: 22px;
    height: 2px;

    background-color: #FFF;

    transition: background 0.5s;
}

.nav-icon span::before, .nav-icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-6px);

    display: block;
    width: 22px;
    height: 2px;

    background-color: #FFF;

    transition: transform 0.5s;
}

.nav-icon span::after {
    transform: translateY(6px); 
}

/*------------------------------------*\
    $nav-icon-is-opened-cross
\*------------------------------------*/
/**
 * nav-icon-is-opened-cross
 * description      responsive menu button activate cross
 */

.nav-icon-is-opened-cross span { background: transparent; }
.nav-icon-is-opened-cross span::before { transform: translateY(0) rotate(45deg); }
.nav-icon-is-opened-cross span::after { transform: translateY(0) rotate(-45deg); }


/*------------------------------------*\
    $nav-icon-is-opened-arrow-right
\*------------------------------------*/
/**
 * nav-icon-is-opened-arrow-right
 * description      responsive menu button activate arrow right
 */

.nav-icon-is-opened-arrow-right span::before { transform: translateY(-2.5px)  translateX(10px) rotate(60deg) scaleX(0.3); }
.nav-icon-is-opened-arrow-right span::after { transform: translateY(2.5px)  translateX(10px) rotate(-60deg) scaleX(0.3); }

/*------------------------------------*\
    $nav-icon-is-opened-arrow-left
\*------------------------------------*/
/**
 * nav-icon-is-opened-arrow-left
 * description      responsive menu button activate arrow right left
 */

.nav-icon-is-opened-arrow-left span::before { transform: translateY(-2.5px)  translateX(-10px) rotate(120deg) scaleX(0.3); }
.nav-icon-is-opened-arrow-left span::after { transform: translateY(2.5px)  translateX(-10px) rotate(-120deg) scaleX(0.3); }